# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Product folders
Debug/*
debug/*
Release/*
release/*
Linux/*
linux/*

# Other qt generated
*.qmake.stash
*.pro.user*
Makefile*

#Data files
*.txt

#Windows
desktop.ini